page-cars {
    ion-card{
        position: relative;
        text-align: center;
        
    }
    .card-quantity {
        position: absolute;
        bottom: 0;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color: #fd931b;
        background-color: white;
      }
    
      
      .logo-container{
          display: grid;
          grid-template-areas: ". .";
          grid-auto-rows: 1fr;
      }
}
