<!--
  Generated template for the CreatePostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ "new post" | titlecase }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating> Title </ion-label>
          <ion-input type="text" [(ngModel)]="post.title"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating> Content </ion-label>
          <ion-textarea [(ngModel)]="post.content"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating> Price </ion-label>
          <ion-input type="number" [(ngModel)]="post.car.price"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating> Driven distance(km) </ion-label>
          <ion-input
            type="number"
            [(ngModel)]="post.car.drivenDistance"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating> Car Type </ion-label>
          <ion-select [(ngModel)]="post.carType">
            <ion-option
              *ngFor="let carTypesKey of carTypesKeys"
              [value]="carTypes[carTypesKey]"
              >{{ carTypesKey }}</ion-option
            >
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label floating> Transmission </ion-label>
          <ion-select [(ngModel)]="post.transmission">
            <ion-option
              *ngFor="let transmissionKey of transmissionKeys"
              [value]="transmission[transmissionKey]"
              >{{ transmissionKey }}</ion-option
            >
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating> City </ion-label>
        <ion-input [(ngModel)]="post.city"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating> Manufactured Year </ion-label>
        <ion-input type="number" [(ngModel)]="post.car.manufacturedYear"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label > Imported </ion-label>
        <ion-checkbox [(ngModel)]="post.isImported"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label > Used </ion-label>
        <ion-checkbox [(ngModel)]="post.isUsed"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
       <ion-item>
        <ion-label floating>
          Phone
        </ion-label>
        <ion-input type="number" [(ngModel)]="post.phone"></ion-input>
       </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
            <ion-label>Car Images</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        
        
        <button ion-button round icon-only block (click)="takePhoto()">
          <ion-icon name="camera"></ion-icon>
        </button>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides style="height: 65vh">
          <ion-slide *ngFor="let image of images">
            <ion-card [class.avatar]="image.isAvatar">
              <img [src]="image.src"/>
              <p *ngIf="image.isAvatar" class="title">Avatar</p>
              <p *ngIf="!image.isAvatar" class="avatar-active" (click)="setAvatar(image)">Set</p>
              <button class="remove-btn" ion-button icon-only (click)="removeImage(image)" round color="danger"><ion-icon name="close-circle"></ion-icon></button>
            </ion-card>
          </ion-slide>
          
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <button ion-button color="secondary" full (click)="createPost()">
            Create
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content>
